---
layout: default
---

article#post.post
  h1= document.title
  .post-content!= content

footer
  if getRelatedDocuments().length
    section#related
      h3 Related Posts
      nav.linklist
        each doc in getRelatedDocuments()
          li
            span= doc.date.toDateString()
            |  &raquo;&nbsp;
            a(href=doc.url)= doc.title
